* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: #0C356A;
  color: #eee;
}

/* HEADER */
header {text-align: center}
header button {
  border-radius: 0 6px 6px 0;
  cursor: pointer;
}
header input, header button {
  padding: 6px;
  outline: none;
  border: none;
}
header input {
  width: 300px;
  border-radius: 6px 0 0 6px;
}

/* CONTAINER */
main {
  padding: 40px 80px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}
.empty {
  text-align: center;
}

@media screen and (max-width: 768px) {
  main {padding: 40px 20px}
}

/* MOVIE CARD */
.card {
  width: 220px;
  background: #1f1f1f;
  border-radius: 0 0 8px 8px;
}

.card > .card-body {
  padding: 10px;
}

.card * {
  margin: 0;
}

.card img {
  width: 100%;
}
